################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FirstProject/.vs/Net-Examples/FileContentIndex/107f20f7-3130-4dcf-be85-91cbe2352986.vsidx
