################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FirstProject/.vs/Net-Examples/FileContentIndex/107f20f7-3130-4dcf-be85-91cbe2352986.vsidx
/FirstProject/.vs/Net-Examples/v17/.suo
/FirstProject/.vs/Net-Examples/FileContentIndex/99a94f87-8c21-4666-a5be-fd5eee211999.vsidx
/FirstProject/.vs/Net-Examples/FileContentIndex/c2f9c155-ed07-4409-8d17-06f850a3ac33.vsidx
