@model Person

<form method="post" asp-action="Register">
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input class="form-control" type="text" asp-for="FirstName" />
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input class="form-control" type="text" asp-for="LastName" />
    </div>
    <input type="submit" value="Save" />
</form>